# Football prediction

#### I will try to predict football outcomes by traning a neural network
#### First, I will need to load a package I wrote. This allows me to easily download fixtures and from any league I chose

In [15]:
import fifa
import pandas as pd
import numpy as np

In order use the package I will have to first create my universe. A universe is just the a space where I will be able to add leagues to later

In [962]:
my_df = fifa.SetUniverse()

Now in order to find and add leagues I will use the `addLeagues` method. The method takes in up to four paremeters.
First and mandatory is country, then I can chose to specify season (one at a time only), keyword for league name and 
negative keyword (Suppose I don't want any women leagues)

In [963]:
my_df.addLeagues(country = 'Spain', keyword = 'Primera Division', neg_key = 'Women')

The following leagues has been found and added:

30	Spain	Primera Division	2017	2017-08-18	2018-05-20
64	Spain	Primera Division	2016	2016-08-19	2017-05-21
87	Spain	Primera Division	2018	2018-08-17	2019-05-19
730	Spain	Primera Division	2015	2015-08-21	2016-05-15
731	Spain	Primera Division	2014	2014-08-23	2015-05-23
732	Spain	Primera Division	2013	2013-08-17	2014-05-18
733	Spain	Primera Division	2012	2012-08-18	2013-06-01
734	Spain	Primera Division	2011	2011-08-27	2012-05-13
735	Spain	Primera Division	2010	2010-08-28	2011-05-21
775	Spain	Primera Division	2019	2019-08-16	2020-07-18

The columns are: league id (unique), country, name, season, season start, season end
If I want to look at my leagues in a dataframe I can just type in `my_df.LeaguesDF()`

In [964]:
my_df.LeaguesDF()

    country            league  season       start         end
30    Spain  Primera Division    2017  2017-08-18  2018-05-20
64    Spain  Primera Division    2016  2016-08-19  2017-05-21
87    Spain  Primera Division    2018  2018-08-17  2019-05-19
730   Spain  Primera Division    2015  2015-08-21  2016-05-15
731   Spain  Primera Division    2014  2014-08-23  2015-05-23
732   Spain  Primera Division    2013  2013-08-17  2014-05-18
733   Spain  Primera Division    2012  2012-08-18  2013-06-01
734   Spain  Primera Division    2011  2011-08-27  2012-05-13
735   Spain  Primera Division    2010  2010-08-28  2011-05-21
775   Spain  Primera Division    2019  2019-08-16  2020-07-18

I can edit the universe and remove any leagues I don't want by just using the method `removeLeague`. This method can
take more than one league id and it will remove it from my universe. Suppose I don't want any cup competitions so
I can just use:

In [965]:
my_df.removeLeague(735,734,733,732,731,730)
my_df.LeaguesDF()

    country            league  season       start         end
30    Spain  Primera Division    2017  2017-08-18  2018-05-20
64    Spain  Primera Division    2016  2016-08-19  2017-05-21
87    Spain  Primera Division    2018  2018-08-17  2019-05-19
775   Spain  Primera Division    2019  2019-08-16  2020-07-18

Now to build my network I actually need fixtures details for that. I can just use `my_df.addFixtures()` which will automatically download and add all fixtures of the leagues currently in my universe.

In [966]:
my_df.addFixtures()

Once it is done, I can see a dataframe with all the fixtures I have download by using `my_df.FixturesDF()`

In [967]:
my_df.FixturesDF()

,league_id,home_team,away_team,home_score,away_score,season
fix_id,,,,,,
9887,30,Leganes,Alaves,1,0,2017
9886,30,Valencia,Las Palmas,1,0,2017
9885,30,Celta Vigo,Real Sociedad,2,3,2017
9884,30,Girona,Atletico Madrid,2,2,2017
9883,30,Sevilla,Espanyol,1,1,2017
...,...,...,...,...,...,...
20446,64,Atletico Madrid,Athletic Club,3,1,2016
20447,64,Celta Vigo,Real Sociedad,2,2,2016
20448,64,Valencia,Villarreal,1,3,2016
20444,64,Barcelona,Eibar,4,2,2016
20445,64,Malaga,Real Madrid,0,2,2016

I can get more detail of a fixture by calling the method `fixtureDetail(fix_id)`. The dictionary returned contains the exact date and time, half time score, penalty, extra time, referee and venue.

In [25]:
my_df.fixtureDetail(9883)

{9883: {'league_id': 30,
  'country': 'Spain',
  'season': 2017,
  'date': '2017-08-19T20:15:00+00:00',
  'home_id': 536,
  'home': 'Sevilla',
  'away_id': 540,
  'away': 'Espanyol',
  'home_score': 1,
  'away_score': 1,
  'ht_score': '1-1',
  'extra_time': None,
  'penalty': None,
  'referee': 'Alejandro Hernandez, Spain',
  'venue': 'Ramón Sánchez-Pizjuán'}}

For future project that I may have to use actual players rankings I have created a fifa class which will automatically
create and merge all fifa players datasets that can be found on kaggle (link below).

https://www.kaggle.com/stefanoleone992/fifa-20-complete-player-dataset

In [26]:
fifa_players_df = fifa.fifa()
fifa_players_df.fifaDF().head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall_16,overall_17,overall_18,overall_19,overall_20
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,28,1987-06-24,170,72,Argentina,FC Barcelona,94.0,93.0,93.0,94.0,94.0
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,30,1985-02-05,185,80,Portugal,Real Madrid,93.0,94.0,94.0,94.0,93.0
2,9014,https://sofifa.com/player/9014/arjen-robben/16...,A. Robben,Arjen Robben,31,1984-01-23,180,80,Netherlands,FC Bayern München,90.0,87.0,88.0,85.0,NaN
3,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,29,1986-03-27,193,92,Germany,FC Bayern München,90.0,92.0,92.0,90.0,88.0
4,176580,https://sofifa.com/player/176580/luis-suarez/1...,L. Suárez,Luis Alberto Suárez Díaz,28,1987-01-24,182,85,Uruguay,FC Barcelona,90.0,92.0,92.0,91.0,89.0

So as I said for now I'll just use the team rankings for building my model. the ranks included are defense, midfield
attack and overvall for each version of fifa (Each year EA release a new version with updated ranks)

In [1]:
import fifa_index

Creating the object first and the choosing which versions of fifa I'd like to download to my object. The ranks are
scraped from fifaindex.com .

In [968]:
fifa_teams = fifa_index.fifaIndex()
fifa_teams.setVersions(17,18,19,20)

To see which leagues are available, I can just call `getAvailableLeagues()` method. The method will print out all leagues with their ids. The id will be needed for the method that actually scrape.

In [3]:
fifa_teams.getAvailableLeagues()

[('2076', '3. Liga'),
 ('2012', 'CSL'),
 ('1014', 'Sudamericana'),
 ('1003', 'Libertadores'),
 ('382', 'Free Agents'),
 ('353', 'SAF'),
 ('351', 'Hyundai A-League'),
 ('350', 'MBS Pro League'),
 ('349', 'Meiji Yasuda J1'),
 ('341', 'LIGA BBVA MX'),
 ('336', 'Liga Dimayor'),
 ('335', 'Camp. AFP PlanVital'),
 ('330', 'Liga I'),
 ('308', 'Liga NOS'),
 ('189', 'RSL'),
 ('83', 'K-League 1'),
 ('80', 'Ö. Bundesliga'),
 ('76', 'Rest of World'),
 ('68', 'Süper Lig'),
 ('66', 'PKO Ekstraklasa'),
 ('65', 'SSE Airtricity Lge'),
 ('61', 'EFL League Two'),
 ('60', 'EFL League One'),
 ('56', 'Allsvenskan'),
 ('54', 'LaLiga SmartBank'),
 ('53', 'LaLiga Santander'),
 ('50', 'Scottish Prem'),
 ('41', 'Eliteserien'),
 ('39', 'MLS'),
 ('32', 'Calcio B'),
 ('31', 'Serie A TIM'),
 ('20', 'Bundesliga 2'),
 ('19', 'Bundesliga'),
 ('17', 'Domino’s Ligue 2'),
 ('16', 'Ligue 1 Conforama'),
 ('14', 'EFL Championship'),
 ('13', 'Premier League'),
 ('10', 'Eredivisie'),
 ('7', 'Liga do Brasil'),
 ('4', 'Pro League'),
 ('1', '3F Superliga')]

In [969]:
fifa_teams.scrapeLeagues(53) #This takes a little bit longer than usual because of google translator.

scraping:	 https://www.fifaindex.com/teams/fifa17/1/?league=53&
scraping:	 https://www.fifaindex.com/teams/fifa18/1/?league=53&
scraping:	 https://www.fifaindex.com/teams/fifa19/1/?league=53&
scraping:	 https://www.fifaindex.com/teams/fifa20/1/?league=53&

In [5]:
fifa_teams.teams.keys()

dict_keys(['Real Madrid CF', 'FC Barcelona', 'Atletico Madrid', 'Valencia CF', 'Athletic Club de Bilbao', 'Sevilla FC', 'Villarreal CF', 'Real Sociedad', 'Real Betis Balompie', 'RCD Espanyol', 'RC Celta de Vigo', 'RC Deportivo de La Coruna', 'SD Eibar', 'Girona CF', 'Deportivo Alaves', 'UD Las Palmas', 'Levante UD', 'Malaga CF', 'CD Leganes', 'Getafe CF', 'Real Madrid', 'Real Betis', 'Athletic Club', 'RC Celta', 'Girona FC', 'D. Alaves', 'Rayo Vallecano', 'R. Valladolid CF', 'SD Huesca', 'Granada CF', 'CA Osasuna', 'RCD Mallorca'])

In [6]:
len(fifa_teams.teams.keys())

32

The teams attribute may have duplicates because some teams may be written in different languages on fifaindex.com. I already tried using google translate to make sure all team names are the same and in english but the translation sometimes make it impossible to identify which team it actually is (or was).

In [970]:
fifa_teams.possibleDuplicates()

['Athletic Club',
 'Athletic Club de Bilbao',
 'CA Osasuna',
 'D. Alaves',
 'Deportivo Alaves',
 'Getafe CF',
 'Girona CF',
 'Girona FC',
 'Granada CF',
 'Levante UD',
 'Malaga CF',
 'R. Valladolid CF',
 'RC Celta',
 'RC Celta de Vigo',
 'RC Deportivo de La Coruna',
 'RCD Mallorca',
 'Rayo Vallecano',
 'Real Betis',
 'Real Betis Balompie',
 'Real Madrid',
 'Real Madrid CF',
 'Real Sporting de Gijon',
 'SD Huesca',
 'UD Las Palmas']

So far I haven't found any way to make it automatically. So I just wrote the method above that will return possible duplicates. Then I'll just have to use another method I wrote which takes in as many arguemnts and each agruments must be a list of two. First is the name that will be kept and the other one discared (not before merging them).

In [971]:
fifa_teams.mergeTeams(['Athletic Club','Athletic Club de Bilbao'],
                     ['D. Alaves','Deportivo Alaves'],
                     ['Girona CF','Girona FC'],
                     ['RC Celta','RC Celta de Vigo'],
                     ['Real Betis','Real Betis Balompie'],
                     ['Real Madrid','Real Madrid CF'])

I believe the next step of this project will be scraping each team characteristics such as offensive / defensive style , with, depth and numbers of players in the box

In [972]:
fifa_teams.dataframe()

                    defense midfield attack overall
FC Barcelona     17      83       85     92      85
                 18      84       84     93      85
                 19      85       86     87      86
                 20      85       85     88      86
Atletico Madrid  17      84       82     84      83
...                     ...      ...    ...     ...
Rayo Vallecano   19      73       75     78      74
R. Valladolid CF 19      72       73     76      74
                 20      73       76     76      76
SD Huesca        19      72       73     74      72
RCD Mallorca     20      72       73     76      73

[80 rows x 4 columns]

In [973]:
def makeDict(fifa_teams, universe):
    teams = dict()
    fifa = fifa_teams.teams.keys()
    api_teams = universe.FixturesDF().home_team.unique()
    for x in api_teams:
        for k in fifa:
            if x in k or k in x:
                teams.update({x:k})
    return teams

In [974]:
api_to_fifa_teams = makeDict(fifa_teams, my_df)

In [975]:
fixtures_df = my_df.FixturesDF()

Due to the corona virus , Many of the matches has been postponed. As a result, they are still labeled as historical matches on the API server. Need to get rid of them.

In [976]:
fixtures_df = fixtures_df.loc[~(fixtures_df['home_score'].isna() | fixtures_df['away_score'].isna()),:].copy()
fixtures_df['season'] = fixtures_df.apply(lambda x: x['season']+1, axis = 1)
fixtures_df['season'] = fixtures_df['season'].apply(lambda x: x-2000)

In [977]:
def setResult(row):
    if row['home_score'] > row['away_score']:
        return 0
    elif row['home_score'] < row['away_score']:
        return 2
    else:
        return 1

In [978]:
fixtures_df['result'] = fixtures_df.apply(setResult, axis = 1)

Now I will need to attach the ranks of each team to the dataframe and do some data cleaning. Some of the teams are missing so I'll just remove them. Leaving me with total of 891 matches after cleaning the dataset.

In [979]:
def retrieveTeamRankings(row, fifa_api_dict, fifa_teams):
    fifa_teams = fifa_teams.teams
    if row['home_team'] not in fifa_api_dict or row['away_team'] not in fifa_api_dict:
        return ({'defense':-1,'midfield':-1,'attack':-1,'overall':-1},{'defense':-1,'midfield':-1,'attack':-1,'overall':-1})
    home = fifa_api_dict[row['home_team']]
    away = fifa_api_dict[row['away_team']]
    season = row['season']
    return fifa_teams[home][season], fifa_teams[away][season]

In [980]:
home_away_ranks = fixtures_df.apply(retrieveTeamRankings, fifa_api_dict = api_to_fifa_teams, fifa_teams = fifa_teams, axis = 1)

In [982]:
final = pd.concat([fixtures_df, home_away_ranks.apply(pd.Series)[0].apply(pd.Series), home_away_ranks.apply(pd.Series)[1].apply(pd.Series)], axis=1)

In [983]:
cols = list(final.columns)

In [984]:
cols[7:15] = ['defense_h','midfield_h','attack_h','overall_h','defense_a','midfield_a','attack_a','overall_a']
final.columns = cols

In [985]:
final = final.loc[~(final.iloc[:,7:15] == -1).any(axis = 1),:].copy()

In [986]:
final = final.iloc[:,6:].applymap(lambda x: int(x))

In [262]:
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [542]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow import keras

In [987]:
X,y = final.values[:, 1:], keras.utils.to_categorical(final.values[:, 0], num_classes=3)

In [1009]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.04, shuffle = False)

In [993]:
def setModel(dropout, first_layer, second_layer):

    global model
    model = Sequential()
    n_features = X_train.shape[1]

    model.add(Dense(8, input_shape = (n_features,)))
    model.add(Dense(first_layer))
    model.add(Dropout(dropout))
    model.add(Dense(second_layer))
    model.add(Dense(3, activation = 'softmax'))

    opt = keras.optimizers.Adam(learning_rate=0.01)
    model.compile(loss='categorical_crossentropy', optimizer='Adam', metrics = ['accuracy'])

    #model.summary()

In [994]:
def testModel(epochs, patience):
    early_stopping = keras.callbacks.EarlyStopping(monitor='accuracy', min_delta = 0, patience = patience)
    model.fit(X_train, y_train, verbose = 0, epochs = epochs, batch_size = 1, callbacks = [early_stopping])
    return model.evaluate(X_test, y_test)

In [1010]:
setModel(0.5, 8,6)
testModel(1000, 15)

2/2 [==============================] - 0s 1ms/step - loss: 0.9124 - accuracy: 0.5957

[0.9123834371566772, 0.5957446694374084]

In [1011]:
expected = list()
for x in model.predict(X_test):
    expected.append(np.argmax(x))
expected = pd.Series(expected, index = final.iloc[-47:,:].index)

In [1012]:
predictions = pd.DataFrame(model.predict(X_test), columns = ['homewin','draw','awaywin'], index = final.iloc[-47:,:].index)
final_df = pd.concat([fixtures_df.loc[final.iloc[-47:,:].index,:], predictions, expected], axis = 1)

In [1015]:
final_df

,league_id,home_team,away_team,home_score,away_score,season,result,homewin,draw,awaywin,0
fix_id,,,,,,,,,,,
20510,64,Barcelona,Real Sociedad,3,2,17,0,0.677524,0.261661,0.060814,0
20509,64,Leganes,Espanyol,0,1,17,2,0.413033,0.325751,0.261216,0
20508,64,Valencia,Sevilla,0,0,17,1,0.424487,0.331467,0.244046,0
20507,64,Real Betis,Eibar,2,0,17,0,0.457325,0.314755,0.227920,0
20505,64,Alaves,Villarreal,2,1,17,0,0.340355,0.324248,0.335398,0
20504,64,Sevilla,Granada CF,2,0,17,0,0.614307,0.290442,0.095252,0
20503,64,Malaga,Valencia,2,0,17,0,0.435270,0.322782,0.241948,0
20502,64,Villarreal,Leganes,2,1,17,0,0.604408,0.301741,0.093851,0
20500,64,Espanyol,Atletico Madrid,0,1,17,2,0.298897,0.292253,0.408849,2
20497,64,Las Palmas,Alaves,1,1,17,1,0.555156,0.318150,0.126694,0
20496,64,Real Madrid,Barcelona,2,3,17,2,0.442731,0.315955,0.241314,0
20495,64,Eibar,Athletic Club,0,1,17,2,0.386258,0.320991,0.292750,0
20493,64,Granada CF,Malaga,0,2,17,2,0.408961,0.312280,0.278758,0
20492,64,Atletico Madrid,Villarreal,0,1,17,2,0.571960,0.310730,0.117310,0
20491,64,Barcelona,Osasuna,7,1,17,0,0.751274,0.217021,0.031705,0
20489,64,Leganes,Las Palmas,3,0,17,0,0.411455,0.332051,0.256493,0
20490,64,Valencia,Real Sociedad,2,3,17,2,0.485865,0.327209,0.186925,0
20487,64,Alaves,Eibar,0,0,17,1,0.409204,0.324911,0.265884,0
20485,64,Athletic Club,Real Betis,2,1,17,0,0.548910,0.313664,0.137427,0
20483,64,Real Sociedad,Granada CF,2,1,17,0,0.550675,0.304519,0.144806,0
20482,64,Real Madrid,Valencia,2,1,17,0,0.671867,0.268162,0.059971,0
20481,64,Las Palmas,Atletico Madrid,0,5,17,2,0.306698,0.301534,0.391768,2
20480,64,Espanyol,Barcelona,0,3,17,2,0.179731,0.233422,0.586846,2
20478,64,Real Betis,Alaves,1,4,17,2,0.534694,0.314042,0.151263,0
20477,64,Eibar,Leganes,2,0,17,0,0.530105,0.317740,0.152154,0
20475,64,Malaga,Sevilla,4,2,17,0,0.379300,0.323217,0.297483,0
20474,64,Sevilla,Real Sociedad,1,1,17,1,0.544465,0.317128,0.138407,0
20472,64,Atletico Madrid,Eibar,1,0,17,0,0.629713,0.285127,0.085160,0
20471,64,Barcelona,Villarreal,4,1,17,0,0.646828,0.278085,0.075087,0
20470,64,Granada CF,Real Madrid,0,4,17,2,0.143805,0.205514,0.650680,2
20469,64,Alaves,Athletic Club,1,0,17,0,0.329683,0.317120,0.353197,2
20468,64,Valencia,Osasuna,4,1,17,0,0.593607,0.299018,0.107375,0
20465,64,Leganes,Real Betis,4,0,17,0,0.419144,0.324061,0.256795,0
20464,64,Espanyol,Valencia,0,1,17,2,0.442270,0.321244,0.236486,0
20463,64,Osasuna,Granada CF,2,1,17,0,0.426186,0.311647,0.262167,0
20455,64,Athletic Club,Leganes,1,1,17,1,0.601781,0.302243,0.095976,0
20456,64,Real Betis,Atletico Madrid,1,1,17,1,0.278470,0.280588,0.440943,2
20458,64,Las Palmas,Barcelona,1,4,17,2,0.186740,0.243862,0.569398,2
20459,64,Real Madrid,Sevilla,4,1,17,0,0.631079,0.289440,0.079480,0
20460,64,Real Sociedad,Malaga,2,2,17,1,0.509122,0.318716,0.172162,0
20453,64,Granada CF,Espanyol,1,2,17,2,0.394999,0.308831,0.296170,0
20451,64,Leganes,Alaves,1,1,17,1,0.495425,0.328801,0.175774,0
20449,64,Sevilla,Osasuna,5,0,17,0,0.643010,0.280138,0.076852,0
20446,64,Atletico Madrid,Athletic Club,3,1,17,0,0.564492,0.309640,0.125869,0
20448,64,Valencia,Villarreal,1,3,17,2,0.444988,0.333605,0.221408,0
20444,64,Barcelona,Eibar,4,2,17,0,0.696932,0.249723,0.053344,0
20445,64,Malaga,Real Madrid,0,2,17,2,0.200134,0.252955,0.546911,2

Looking at the expected results one thing immediately pop out is the fact that the model never predict a draw! This is also a shotcoming of the classical poisson model that has been developed by Maher in 82.

It also seems to me that the model overestimate the home advantage. When there is equally skilled teams (ie alaves - athletic club or espanyol - valencia) I think the probabilities are a bit off.

Clearly, I'll have to think of new ways of training the model in order to predict draws better. 8/47 matches ended in draw. Also I'll have to find a way to adjust home advantage bias.

In [1050]:
football_data = pd.read_csv('https://www.football-data.co.uk/mmz4281/1617/SP1.csv')

In [954]:
football_data_to = dict({'Ath Madrid':'Atletico Madrid','Espanol':'Espanyol'})
for x in football_data.HomeTeam.unique():
  for team in fixtures_df.home_team.unique():
    if x in team or team in x:
      football_data_to[x] = team

In [1062]:
cols = ['Div','Date','HomeTeam','AwayTeam','PSH','PSD','PSA','PSCH','PSCD','PSCA']
football_data = football_data.loc[:,cols].copy()

In [1086]:
football_data['Date'] = pd.to_datetime(football_data['Date'], dayfirst = True)

In [1104]:
my_df.fixtureDetail(20510)[20510]['date'], my_df.fixtureDetail(20445)[20445]['date']

('2017-04-15T18:45:00+00:00', '2017-05-21T18:00:00+00:00')

In [1111]:
football_data.loc[(football_data['Date'] > '2017-04-05') & (football_data['Date'] < '2017-05-21'),:].to_csv('football_data.csv')

After comparing the predictions to pinnacle closing odds, I can say that this model also underestimate big teams (Barcelona, Real Madrid..) and giving them less chance than they actually has.