# Football prediction

#### I will try to predict football outcomes by traning a neural network
#### First, I will need to load a package I wrote. This allows me to easily download fixtures and from any league I chose

In [1]:
import fifa
import pandas as pd
import numpy as np

In order use the package I will have to first create my universe. A universe is just the a space where I will be able to add leagues to later

In [2]:
my_df = fifa.SetUniverse()

Now in order to find and add leagues I will use the `addLeagues` method. The method takes in up to four paremeters.
First and mandatory is country, then I can chose to specify season (one at a time only), keyword for league name and 
negative keyword (Suppose I don't want any women leagues)

In [3]:
my_df.addLeagues(country = 'Spain', neg_key = 'Women', season = 2018)

The following leagues has been found and added:

87	Spain	Primera Division	2018	2018-08-17	2019-05-19
88	Spain	Segunda Division	2018	2018-08-17	2019-06-16
808	Spain	Copa del Rey	2018	2018-09-05	2019-05-25
1630	Spain	Super Cup	2018	2018-08-12	2018-08-12

The columns are: league id (unique), country, name, season, season start, season end
If I want to look at my leagues in a dataframe I can just type in `my_df.LeaguesDF()`

In [5]:
my_df.LeaguesDF()

     country            league  season       start         end
87     Spain  Primera Division    2018  2018-08-17  2019-05-19
88     Spain  Segunda Division    2018  2018-08-17  2019-06-16
808    Spain      Copa del Rey    2018  2018-09-05  2019-05-25
1630   Spain         Super Cup    2018  2018-08-12  2018-08-12

I can edit the universe and remove any leagues I don't want by just using the method `removeLeague`. This method can
take more than one league id and it will remove it from my universe. Suppose I don't want any cup competitions so
I can just use:

In [6]:
my_df.removeLeague(808,1630)
my_df.LeaguesDF()

   country            league  season       start         end
87   Spain  Primera Division    2018  2018-08-17  2019-05-19
88   Spain  Segunda Division    2018  2018-08-17  2019-06-16

Now to build my network I actually need fixtures details for that. I can just use `my_df.addFixtures()` which will automatically download and add all fixtures of the leagues currently in my universe.

In [7]:
my_df.addFixtures()

Once it is done, I can see a dataframe with all the fixtures I have download by using `my_df.FixturesDF()`

In [8]:
my_df.FixturesDF()

,league_id,home_team,away_team,home_score,away_score,extratime
fix_id,,,,,,
27144,87,Girona,Valladolid,0,0,None
27141,87,Real Betis,Levante,0,3,None
27142,87,Celta Vigo,Espanyol,1,1,None
27148,87,Villarreal,Real Sociedad,1,2,None
27140,87,Barcelona,Alaves,3,0,None
...,...,...,...,...,...,...
27979,88,Tenerife,Zaragoza,1,0,None
151679,88,Deportivo La Coruna,Malaga,4,2,None
151681,88,Mallorca,Albacete,2,0,None
151680,88,Malaga,Deportivo La Coruna,0,1,None
151682,88,Albacete,Mallorca,1,0,None

I can get more detail of a fixture by calling the method `fixtureDetail(fix_id)`. The dictionary returned contains the exact date and time, half time score, penalty, extra time, referee and venue.

In [16]:
my_df.fixtureDetail(27144)

87	Spain	2018	2018-08-17T18:15:00+00:00	Girona	Valladolid	0	0	0-0	None	None	Guillermo Cuadra Fernandez, Spain	Estadi Montilivi

For future project that I may have to use actualy players rankings I have created a fifa class which will automatically
create and merge all fifa players datasets that can be found on kaggle (link below).

https://www.kaggle.com/stefanoleone992/fifa-20-complete-player-dataset

In [25]:
fifa_players_df = fifa.fifa()
fifa_players_df.fifaDF()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall_16,overall_17,overall_18,overall_19,overall_20
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,28,1987-06-24,170,72,Argentina,FC Barcelona,94.0,93.0,93.0,94.0,94.0
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,30,1985-02-05,185,80,Portugal,Real Madrid,93.0,94.0,94.0,94.0,93.0
2,9014,https://sofifa.com/player/9014/arjen-robben/16...,A. Robben,Arjen Robben,31,1984-01-23,180,80,Netherlands,FC Bayern München,90.0,87.0,88.0,85.0,NaN
3,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,29,1986-03-27,193,92,Germany,FC Bayern München,90.0,92.0,92.0,90.0,88.0
4,176580,https://sofifa.com/player/176580/luis-suarez/1...,L. Suárez,Luis Alberto Suárez Díaz,28,1987-01-24,182,85,Uruguay,FC Barcelona,90.0,92.0,92.0,91.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33418,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,NaN,NaN,NaN,NaN,48.0
33419,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,NaN,NaN,NaN,NaN,48.0
33420,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,NaN,NaN,NaN,NaN,48.0
33421,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,NaN,NaN,NaN,NaN,48.0
33422,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,NaN,NaN,NaN,NaN,48.0

So as I said for now I'll just use the team rankings for building my model. the ranks included are defense, midfield
attack and overvall for each version of fifa (Each year EA release a new version with updated ranks)

In [2]:
import fifa_index

Creating the object first and the choosing which versions of fifa I'd like to download to my object. The ranks are
scraped from fifaindex.com .

In [3]:
fifa_teams = fifa_index.fifaIndex()
fifa_teams.setVersions(19,20)

To see which leagues are available, I can just call `getAvailableLeagues()` method. The method will print out all leagues with their ids. The id will be needed for the method that actually scrape.

In [4]:
fifa_teams.getAvailableLeagues()

2076 3. Liga
2012 CSL
1014 Sudamericana
1003 Libertadores
382 Free Agents
353 SAF
351 Hyundai A-League
350 MBS Pro League
349 Meiji Yasuda J1
341 LIGA BBVA MX
336 Liga Dimayor
335 Camp. AFP PlanVital
330 Liga I
308 Liga NOS
189 RSL
83 K-League 1
80 Ö. Bundesliga
76 Rest of World
68 Süper Lig
66 PKO Ekstraklasa
65 SSE Airtricity Lge
61 EFL League Two
60 EFL League One
56 Allsvenskan
54 LaLiga SmartBank
53 LaLiga Santander
50 Scottish Prem
41 Eliteserien
39 MLS
32 Calcio B
31 Serie A TIM
20 Bundesliga 2
19 Bundesliga
17 Domino’s Ligue 2
16 Ligue 1 Conforama
14 EFL Championship
13 Premier League
10 Eredivisie
7 Liga do Brasil
4 Pro League
1 3F Superliga

In [5]:
fifa_teams.scrapeLeagues(19,13) #This takes a little bit longer than usual because of google translator.

scraping:	 https://www.fifaindex.com/teams/fifa19/1/?league=19&league=13&
scraping:	 https://www.fifaindex.com/teams/fifa19/2/?league=19&league=13&
scraping:	 https://www.fifaindex.com/teams/fifa20/1/?league=19&league=13&
scraping:	 https://www.fifaindex.com/teams/fifa20/2/?league=19&league=13&

In [7]:
fifa_teams.dataframe()[20:]

                           defense midfield attack overall
RB Leipzig              19      78       80     80      79
                        20      79       81     81      80
Everton                 19      79       80     77      79
                        20      79       78     80      78
Eintracht Frankfurt     19      77       78     80      78
                        20      77       77     78      77
West Ham United         19      77       78     78      78
                        20      73       78     82      78
Leicester City          19      79       76     78      78
                        20      79       79     80      79
TSG 1899 Hoffenheim     19      79       79     77      78
                        20      75       77     79      77
VfL Wolfsburg           19      77       78     77      78
                        20      78       77     77      77
FC Schalke 04           19      78       77     76      78
                        20      76       77     76      77
Crystal Palace          19      76       77     79      77
                        20      76       77     73      77
Bournemouth             19      77       76     79      77
Watford                 19      77       78     78      77
                        20      75       78     76      77
Hertha BSC              19      77       76     77      77
                        20      75       75     77      76
Burnley                 19      77       75     77      77
                        20      76       76     77      76
Wolverhampton Wanderers 19      76       80     75      77
                        20      78       79     79      78
SV Werder Bremen        19      76       78     75      77
                        20      77       76     76      77
Brighton & Hove Albion  19      76       77     76      76
                        20      76       76     75      76
Newcastle United        19      76       77     75      76
                        20      77       78     75      77
Southampton             19      74       77     75      76
                        20      76       76     76      76
VfB Stuttgart           19      75       76     75      76
Fulham                  19      73       76     78      75
Sport-Club Freiburg     19      74       73     75      74
                        20      75       73     76      74
1. FSV Mainz 05         19      74       76     74      74
                        20      75       73     75      75
FC Augsburg             19      76       74     74      74
                        20      75       74     78      75
Hannover 96             19      74       74     73      74
Huddersfield Town       19      75       73     72      74
Fortuna Dusseldorf      19      72       73     74      73
                        20      72       74     73      73
Cardiff City            19      72       73     73      73
1. FC Nuremberg         19      72       72     73      72
AFC Bournemouth         20      76       76     78      76
Aston Villa             20      75       75     77      76
1. FC Cologne           20      73       75     76      75
Sheffield United        20      75       77     73      75
Norwich City            20      72       74     75      74
1. FC Union Berlin      20      73       71     73      72
SC Paderborn 07         20      69       70     70      69